---
const { title, description, pubDate } = Astro.props;
import Layout from './Layout.astro';
---

<Layout title={title} description={description}>
  <article style="max-width: 700px; margin: 0 auto; padding: 2rem;">
    <h1>{title}</h1>
    <p><em>{new Date(pubDate).toLocaleDateString()}</em></p>
    <slot />
  </article>
</Layout>
